body {
	margin: 0;
	padding: 0;
}

#chart {
	margin: 0;
	height: 100%;
	width: 100%;
}

.chart {
	display: block;
	margin: 0;
}

text {
	font: 15px 'Didot';
	text-transform: uppercase;
	fill: #fff
}

rect {
	fill: none;
	background-size: cover;
	opacity: 0.6;
}

rect:hover {
	opacity: 0;
}
