body {
	margin: 0;
	padding: 0;
	font-family: 'freight-big-pro', 'Didot', Georgia, sans-serif;
}

#actionbar {
	top: 0;
	height: 52px;
	background: #000;
	color: #fff;
	padding: 0.7em;
	font-size: 1.2em;
}

#actionbar h1 {
	display: inline-block;
	text-transform: capitalize;
	font-weight: normal;
	margin: 0;
	font-size: 1em;
}

#actionbar h1 span {
	font-style: none;
	font-size: 0.6em;
	color: #eee;
}

#actionbar span {
	font-size: 0.5em;
	color: #666;
}

#actionbar a {
	color: #fff;
	text-decoration: none;
	float: right;
	font-size: 1.5em;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	margin-top: -8px;
	display: none;
}

#chart {
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
}

.chart {
	display: block;
	margin: 0;
}

text.parent-text {
	font-size: 12px;
	text-transform: uppercase;
	fill: #fff;
	pointer-events: none;
}

text.child-text {
	font-size: 12px;
	text-transform: capitalize;
	fill: #fff;
	pointer-events: none;
}


rect {
	fill: none;
	background-size: cover;
	opacity: 0.96;
	shape-rendering: crispEdges;
	stroke: #000;
	stroke-width: 1px;
}

image {
	shape-rendering: crispEdges;
}

rect:hover {
	opacity: 0;
}


div.image-container {
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background-color: #000;
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}

div.image-container a {
	display: block;
	position: absolute;
	color: #fff;
	cursor: pointer;
	font-size: 1.5em;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	background: #111;
	padding: 20px;
	width: 40px;
	text-align: center;
}

div.image-container a:hover {
	background: #333;
}

div.image-container a.prev {
	top: 50%;
	left: 0;
}

div.image-container a.next {
	top: 50%;
	right: 0;
}


@media only screen and (max-device-width: 480px) {
	#actionbar {
		height: 155px;
		font-size: 3em;
		padding: 1em;
	}

	#chart {
		top: 150px;
	}

	div.image-container {
		top: 150px;
	}
}